<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="assets/ico.png" type="image/x-icon">
    <title>Página de erros</title>
</head>

<body>
    <h1>Erro</h1>
    <h2>
        <%=err%>
    </h2>
</body>

</html>