* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: medium;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9b5704;
    color: white;
    box-shadow: 1px 1px 5px #000;
}

header form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input,
button,
textarea {
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: small;
}

button {
    cursor: pointer;
    background-color: #8b5410;
    box-shadow: 1px 1px 5px #000;
    color: #fff;
    font-weight: bold;
}

main {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: wrap;
    float: right;
}

main div {
    position: relative;
    width: 320px;
    height: 140px;
    border-radius: 15px 0 15px 0;
    background-color: #fec279;
    box-shadow: 1px 1px 5px #000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main button{
    position: absolute;
    left: 270px;
    width: 40px;
}

main form input{
    width: 250px;
    background: none;
    border-bottom: 1px solid rgb(196, 136, 51);
    resize: none;
    padding-top: 10px;
}

@media screen and (max-width: 600px){
    
	header{
		height: 20vh;
	}
	
	main{
		height: 75vh;
	}
	
	header form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
}