*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main div{
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
    border-bottom: 1px solid #000;
}

label{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}




