body{
    background-color: #ccc;
}

.form1 {
    justify-content: center;
    align-items: center;
}

.form1 form {
    width: 100%;
    max-width: 400px;
    margin:10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form1 form input{
    margin-bottom:10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #666;
}

.form1 form select{
    margin-bottom:10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #666;
}

.form2 {
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
    display: flex;
    flex-direction: column;
}

.form2 form {
    width: 100%;
    max-width: 400px;
    margin:10px;
    display: grid;
}

.form2 form input{
    margin-bottom:20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.form2 form select{
    margin-bottom:20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}