* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url('');
    width: 400px;
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}